#menuBG {
    width: 600px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: bisque;
    box-sizing: border-box;
}

div {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(35, 35, 35);
}

h1 {
    color: rgb(93, 36, 36);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3, h2 {
    color: rgb(214, 80, 80);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#requested_number {
    font-size: small;
}


/*this is for the form*/
#frmMenu {
    width: 600px;
    height: 200px;
}

/*this is in the cart*/
#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

/*menu on the left*/
.left {
    width: 200px;
    height: 200px;
    float: left;
}

/*menu on the right*/
.right {
    width: 200px;
    height: 200px;
    float: right;
}

.middle {
    width: 200px;
    height: 200px;
    float: left;
}

/* this is in the cart*/
#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
    float: left;
}

/* this is the place order button */
#btnOrder, #btnForm {
    width: 100px;
    height: 40px;
    color:rgb(93, 36, 36);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(214, 80, 80);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
  background-color: rgb(214, 80, 80);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(163, 28, 28);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


