#menuBG {
    width: 600px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: bisque;
}

div {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(35, 35, 35);
}

h1 {
    color: rgb(93, 36, 36);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3, h2 {
    color: rgb(214, 80, 80);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#requested_number {
    font-size: small;
}


/*this is for the form*/
#frmMenu {
    width: 600px;
    height: 200px;
}

/*this is in the cart*/
#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

/*menu on the left*/
.left {
    width: 200px;
    height: 200px;
    float: left;
}

/*menu on the right*/
.right {
    width: 200px;
    height: 200px;
    float: right;
}

.middle {
    width: 200px;
    height: 200px;
    float: left;
}

/* this is in the cart*/
#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
    float: left;
}

/* this is the place order button */
#btnOrder, #btnForm {
    width: 100px;
    height: 40px;
    color:rgb(93, 36, 36);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


