.tile {
    width: 75px;
    height: 75px;
    border: solid 10px #34985c;
    border-radius: 100%;
    background-color: white;
}

.chip {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: gray;
}

.yellow {
    background-color: #e7e780;
}

.red {
    background-color: #d54b51;
}