/*This container includes our table and our canvas.*/
h1 {
text-align: center;

}

.center-container {
    /*This property sets the width of our container.*/
    width: 608px;
    /*This property centers our container*/
    margin: 0 auto;
    /*50px down from the top.*/
    margin-top: 50px;
}

table {
    /*This property collapses table border into 1 border.*/
    border-collapse: collapse;
    /*This hides outer borders on table.*/
    border-style: hidden;
}

td {
    /*This property changes the cursor to the index finger hand
    when we hover over td elements.*/
    cursor: pointer;
    /*This property sets our table border style.*/
    border: 4px solid rgba(152, 68, 230, 0.8);
    /*This property removes default padding.*/
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    /*This property sets the position of our canvas to the top left
    corner of our container*/
    position: absolute;
    /*This property places our canvas over the top of our table.*/
    /*Z Index defines the order of overlapping HTML elements. 
    Elements with a higher index will be placed on top of elements with a lower index.*/
    z-index: 10;
    /*This property makes our canvas invisible.*/
    /*The CSS pointer-events property controls the behavior of 
    HTML elements in response to mouse or touch events.*/
    pointer-events: none;
}